@keyframes ldio-kak9xq6l6f9 {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.ldio-kak9xq6l6f9 div {
    left: 18.5px;
    top: 12.5px;
    position: absolute;
    animation: ldio-kak9xq6l6f9 linear 0.641025641025641s infinite;
    background: #924bed;
    width: 3px;
    height: 5px;
    border-radius: 1.5px / 1.75px;
    transform-origin: 1.5px 15.5px;
}.ldio-kak9xq6l6f9 div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -0.5982905982905983s;
     background: #924bed;
 }.ldio-kak9xq6l6f9 div:nth-child(2) {
      transform: rotate(24deg);
      animation-delay: -0.5555555555555555s;
      background: #924bed;
  }.ldio-kak9xq6l6f9 div:nth-child(3) {
       transform: rotate(48deg);
       animation-delay: -0.5128205128205128s;
       background: #924bed;
   }.ldio-kak9xq6l6f9 div:nth-child(4) {
        transform: rotate(72deg);
        animation-delay: -0.47008547008547s;
        background: #924bed;
    }.ldio-kak9xq6l6f9 div:nth-child(5) {
         transform: rotate(96deg);
         animation-delay: -0.42735042735042733s;
         background: #924bed;
     }.ldio-kak9xq6l6f9 div:nth-child(6) {
          transform: rotate(120deg);
          animation-delay: -0.3846153846153846s;
          background: #924bed;
      }.ldio-kak9xq6l6f9 div:nth-child(7) {
           transform: rotate(144deg);
           animation-delay: -0.34188034188034183s;
           background: #924bed;
       }.ldio-kak9xq6l6f9 div:nth-child(8) {
            transform: rotate(168deg);
            animation-delay: -0.29914529914529914s;
            background: #924bed;
        }.ldio-kak9xq6l6f9 div:nth-child(9) {
             transform: rotate(192deg);
             animation-delay: -0.2564102564102564s;
             background: #924bed;
         }.ldio-kak9xq6l6f9 div:nth-child(10) {
              transform: rotate(216deg);
              animation-delay: -0.21367521367521367s;
              background: #924bed;
          }.ldio-kak9xq6l6f9 div:nth-child(11) {
               transform: rotate(240deg);
               animation-delay: -0.17094017094017092s;
               background: #924bed;
           }.ldio-kak9xq6l6f9 div:nth-child(12) {
                transform: rotate(264deg);
                animation-delay: -0.1282051282051282s;
                background: #924bed;
            }.ldio-kak9xq6l6f9 div:nth-child(13) {
                 transform: rotate(288deg);
                 animation-delay: -0.08547008547008546s;
                 background: #924bed;
             }.ldio-kak9xq6l6f9 div:nth-child(14) {
                  transform: rotate(312deg);
                  animation-delay: -0.04273504273504273s;
                  background: #924bed;
              }.ldio-kak9xq6l6f9 div:nth-child(15) {
                   transform: rotate(336deg);
                   animation-delay: 0s;
                   background: #924bed;
               }
.loadingio-spinner-spinner-1dab3uixhn5 {
    width: 71px;
    height: 71px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-kak9xq6l6f9 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.71);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-kak9xq6l6f9 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
